<div id="page-content">
  <div class="container" id="home-container">
    <%# <div class="mt-4 p-5 bg-primary text-white rounded text-center"> %>
    <div class="jumbo rounded text-center text-bold">
      <h1 class="display-4">A Blog</h1>
      <p>This is a simple JumboTron Style ....Lorem ipsum...</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and space content out whithin the larger container</p>
      <a class="btn btn-sucess btn-lg" href="#" role="button">Sign up!</a>
    </div>
  </div>
</div>


<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy;  <%= link_to "André Bomfim", "#", class: "text-white" %></small>
  </div>
</footer>